<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Giro</title>
    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <section class="panel" id="first-page">
        <header class="d-flex justify-content-between align-items-end container">
            <div class="logo">
                <img src="assets/img/logo-white.png" alt="logo">
            </div>
            <div class="contact">
                <div class="item d-flex justify-content-center align-items-center mb-2">
                    <img src="assets/img/address.png" alt="address">
                    <p class="text-upper">Москва, набережная 2 оф. 142</p>
                </div>
                <div class="item d-flex justify-content-center align-items-center mb-2">
                    <img src="assets/img/phone.png" alt="address">
                    <p class="text-upper">7 923 456 7890</p>
                </div>
                <button class="btn btn-order text-upper">Заказать<br>звонок</button>
            </div>
        </header>
        <div class="conteiner d-flex flex-column align-items-center justify-content-center conter" style="margin-top: 75px;">
            <ul class="nav">
                <li class="text-upper"><a href="#advantages">О нас</a></li>
                <li class="text-upper"><a href="#catalog">Каталог</a></li>
                <li class="text-upper"><a href="#sub">Контакты</a></li>
            </ul>
            <h1 class="site-name text-upper" style="margin-top: 40px;">my-giro</h1>
            <p class="text-upper text-center mt-3">Крупнейший интернет магазин гидроскутеров,<br>
            сигвеев и электросамокатов от известных<br>мировых производителей</p>
            <a href="#catalog" class="btn btn-white-big text-upper" style="margin-top: 50px;">Каталог</a>
        </div>
    </section>
    <section class="panel" id="advantages">
        <h1 class="section-title text-upper">Наши преимущества</h1> 
        <div class="container content d-flex justify-content-center align-items-center mt-5">
            <div class="content w-75 d-flex justify-content-around-align-items-center" style="height: 250px" id="advantages-">
                <div class="items">
                    <img src="assets/img/advantages/1.png" alt="advantages">
                    <p class="text-upper">Большой ассортимент</p>
                </div>
                <div class="items">
                    <img src="assets/img/advantages/4.png" alt="advantages">
                    <p class="text-upper">Быстрая доставка</p>
                </div>
                <div class="items">
                    <img src="assets/img/advantages/3.png" alt="advantages">
                    <p class="text-upper">Гарантия качестват</p>
                </div>
                <div class="items">
                    <img src="assets/img/advantages/2.png" alt="advantages">
                    <p class="text-upper">Онлайн консультант</p>
                </div>
            </div>
        </div>
    </section>
    <section class="panel" id="about-us">
        <div class="container d-flex h-100 flex-column align-items-center justify-content-center">
            <h1 class="section-title text-upper" style="color: #fff">О нас</h1>
            <p class="text-upper text-center mt-5">
                В нашем интернет-магазине представлен большой выбор гироскутеров, сигвеев<br> 
                и электросамокатов от известных мировых производителей.<br>
                Все товары, представленные на нашем сайте, отобраны лучшими специалистами в этой области.
            </p>
            <ol class="text-upper mt-5">
                <li><p>Купить гироскутер, электросамокат или сигвей недорого, Вы можете в нашем<br> 
                    интернет-магазине в любое время, когда Вам удобно.</p></li>
                <li><p>Доставка заказов осуществляется бесплатно, в любую точку России.</p></li><br>
                <li><p>Так же, вы можете заказать гироскутер, 
                    сигвей или электросамокат по низкой цене, позвонив нам.</p></li><br>
                <li><p>Или сделайте заказ, пообщавшись с нашим онлайн-консультантом консультантам.</p></li><br>
                <li><p>Продажа гироскутеров, электросамокатов и сигвеев, 
                    осуществляется напрямую, от производителей.</p></li>
                <li><p>Поэтому, в нашем интернет-магазине самые лучшие цены. </p></li>
            </ol>
            <a href="#catalog" class="btn btn-white-big text-upper">Каталог</a>
        </div>
    </section>
    <section class="panel" id="partners">
        <h1 class="section-title text-upper">Наши партнёры</h1>
        <div class="container content d-flex flex-column align-items-center mt-5">
            <div class="content d-flex align-items-end justify-content-center" style="height: 250px; width: 500px;" id="brand-container">
                <input type="radio" name="brands-trigger" id="balance">
                <label for="balance" class="partners-label" id="balance-tab"></label>
                <div class="item" id="balance-container">
                    <p class="text-upper">balance</p>
                </div>
                <input type="radio" name="brands-trigger" id="xiaomi" checked>
                <label for="xiaomi" class="partners-label" id="xiaomi-tab"></label>
                <div class="item" id="xiaomi-container">
                    <p class="text-upper">xiaomi</p>
                </div>
                <input type="radio" name="brands-trigger" id="smart">
                <label for="smart" class="partners-label" id="smart-tab"></label>
                <div class="item" id="smart-container">
                    <p class="text-upper">smart</p>
                </div>
                <input type="radio" name="brands-trigger" id="linbol">
                <label for="linbol" class="partners-label" id="linbol-tab"></label>
                <div class="item" id="linbol-container">
                    <p class="text-upper">linbol</p>
                </div>
                <input type="radio" name="brands-trigger" id="kugoo">
                <label for="kugoo" class="partners-label" id="kugoo-tab"></label>
                <div class="item" id="kugoo-container">
                    <p class="text-upper">kugoo</p>
                </div>
                <input type="radio" name="brands-trigger" id="subor">
                <label for="subor" class="partners-label" id="subor-tab"></label>
                <div class="item" id="subor-container">
                    <p class="text-upper">subor</p>
                </div>
                <input type="radio" name="brands-trigger" id="airwheel">
                <label for="airwheel" class="partners-label" id="airwheel-tab"></label>
                <div class="item" id="airwheel-container">
                    <p class="text-upper">airwheel</p>
                </div>
            </div>
        </div>
    </section>
    <section class="panels" id="consultants">
        <h1 class="section-title text-upper">Помогут с выбором</h1>
        <div class="content d-flex justify-content-center flex-wrap mt-5">
            <div class="item text-upper text-center">
                <img src="assets/img/consultants/1.png" alt="consultant">
                <p class="item-title">Галина Петровна</p>
                <p class="item-description">Менеджер по прадажам</p>
            </div>
            <div class="item text-upper text-center">
                <img src="assets/img/consultants/2.png" alt="consultant">
                <p class="item-title">Светлана Иванова</p>
                <p class="item-description">Менеджер по прадажам</p>
            </div>
            <div class="item text-upper text-center">
                <img src="assets/img/consultants/3.png" alt="consultant">
                <p class="item-title">Иван Сидоров</p>
                <p class="item-description">Менеджер по прадажам</p>
            </div>
        </div>
    </section>
    <img src="assets/img/section-delimiter.png" alt="delimiter" class="delimeter">
    <section id="about-segway">
        <div class="content d-flex justify-content-between align-items-center">
            <img src="assets/img/segway.png" alt="segway" class="section-image">
            <div class="text-upper" style="width: 60%;">
                <h1 class="section-title" style="text-align: start;">особенности гироскутеров</h1>
                <div class="mt-5">
                    <h1 class="title"><img src="assets/img/minus.png" alt="minus">Начнём с минусов:</h1>
                    <ol>
                        <li><p>Трясёт</p></li><br>
                        <li><p>Нет сидений</p></li><br>
                        <li><p>Только для одного</p></li><br>
                    </ol>
                </div>
                <div class="mt-5">
                    <h1 class="title"><img src="assets/img/plus.png" alt="plus">С минусами разобрались, теперь можем перейти к преимуществам гироскутеров:</h1>
                    <ol>
                        <li><p>Компактность</p></li><br>
                        <li><p>Экономичность</p></li><br>
                        <li><p>Доступность</p></li><br>
                        <li><p>Манёвренность</p></li><br>
                        <li><p>Простой в освоении</p></li><br>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="panels" id="catalog">
        <h1 class="section-title text-upper">Каталог</h1>
        <input type="radio" id="giroscooters" name="categories" value="giroscooters">
        <input type="radio" id="electric-scooters" checked name="categories" value="electric-scooters">
        <input type="radio" id="segways" name="categories" value="segways">
        <div class="categories">
            <form id="catalog-filter">
                <ul id="categories-container">
                    <li>
                        <label for="giroscooters" id="giroscooters-tab" class="text-upper">
                            Гироскутеры
                        </label>
                    </li>
                    <li>
                        <label for="electric-scooters" id="electric-scooters-tab" class="text-upper">
                            Электросамокаты
                        </label>
                    </li>
                    <li>
                        <label for="segways" id="segways-tab" class="text-upper">
                            Сигвей
                        </label>
                    </li>
                </ul>
            </form>
        </div>
        <div class="panels">
            <div id="electric-scooters-container" class="justify-content-between flex-wrap catalog-container">
                <div class="c-card">
                    <img src="assets/img/catalog/electric_scooters/1.jpg" alt="card-image">
                    <div class="card-body">
                        <h4 class="text-upper text-center" style="color: #3d67b0">
                            xiaomi Migia Electric m187 black
                        </h4>
                        <p class="type">
                            <span>Вид:</span>
                            "электросамокат"
                        </p>
                        <div class="price-container d-flex justify-content-between align-items-center">
                            <p class="price">1000 <span>р.</span></p>
                            <button class="btn btn-primary">Приобрести</button>
                        </div>
                    </div>
                </div>
                <div class="c-card">
                    <img src="assets/img/catalog/electric_scooters/2.jpg" alt="card-image">
                    <div class="card-body">
                        <h4 class="text-upper text-center" style="color: #3d67b0">
                            xiaomi Migia Electric m256 white
                        </h4>
                        <p class="type">
                            <span>Вид:</span>
                            "электросамокат"
                        </p>
                        <div class="price-container d-flex justify-content-between align-items-center">
                            <p class="price">3500 <span>р.</span></p>
                            <button class="btn btn-primary">Приобрести</button>
                        </div>
                    </div>
                </div>
                <div class="c-card">
                    <img src="assets/img/catalog/electric_scooters/3.jpg" alt="card-image">
                    <div class="card-body">
                        <h4 class="text-upper text-center" style="color: #3d67b0">
                            xiaomi Migia Electric e307 black
                        </h4>
                        <p class="type">
                            <span>Вид:</span>
                            "электросамокат"
                        </p>
                        <div class="price-container d-flex justify-content-between align-items-center">
                            <p class="price">1000 <span>р.</span></p>
                            <button class="btn btn-primary">Приобрести</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="giroscooters-container" class="justify-content-between flex-wrap catalog-container">
                <div class="c-card">
                    <img src="assets/img/catalog/giroscooters/1.jpg" alt="card-image">
                    <div class="card-body">
                        <h4 class="text-upper text-center" style="color: #3d67b0">
                            xiaomi Migia Electric m187 black
                        </h4>
                        <p class="type">
                            <span>Вид:</span>
                            "электросамокат"
                        </p>
                        <div class="price-container d-flex justify-content-between align-items-center">
                            <p class="price">1000 <span>р.</span></p>
                            <button class="btn btn-primary">Приобрести</button>
                        </div>
                    </div>
                </div>
                <div class="c-card">
                    <img src="assets/img/catalog/giroscooters/2.jpg" alt="card-image">
                    <div class="card-body">
                        <h4 class="text-upper text-center" style="color: #3d67b0">
                            xiaomi Migia Electric m256 white
                        </h4>
                        <p class="type">
                            <span>Вид:</span>
                            "электросамокат"
                        </p>
                        <div class="price-container d-flex justify-content-between align-items-center">
                            <p class="price">3500 <span>р.</span></p>
                            <button class="btn btn-primary">Приобрести</button>
                        </div>
                    </div>
                </div>
                <div class="c-card">
                    <img src="assets/img/catalog/giroscooters/3.jpg" alt="card-image">
                    <div class="card-body">
                        <h4 class="text-upper text-center" style="color: #3d67b0">
                            xiaomi Migia Electric e307 black
                        </h4>
                        <p class="type">
                            <span>Вид:</span>
                            "электросамокат"
                        </p>
                        <div class="price-container d-flex justify-content-between align-items-center">
                            <p class="price">1000 <span>р.</span></p>
                            <button class="btn btn-primary">Приобрести</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="segways-container" class="justify-content-between flex-wrap catalog-container">
                <div class="c-card">
                    <img src="assets/img/catalog/segways/1.jpg" alt="card-image">
                    <div class="card-body">
                        <h4 class="text-upper text-center" style="color: #3d67b0">
                            xiaomi Migia Electric m187 black
                        </h4>
                        <p class="type">
                            <span>Вид:</span>
                            "электросамокат"
                        </p>
                        <div class="price-container d-flex justify-content-between align-items-center">
                            <p class="price">1000 <span>р.</span></p>
                            <button class="btn btn-primary">Приобрести</button>
                        </div>
                    </div>
                </div>
                <div class="c-card">
                    <img src="assets/img/catalog/segways/2.jpg" alt="card-image">
                    <div class="card-body">
                        <h4 class="text-upper text-center" style="color: #3d67b0">
                            xiaomi Migia Electric m256 white
                        </h4>
                        <p class="type">
                            <span>Вид:</span>
                            "электросамокат"
                        </p>
                        <div class="price-container d-flex justify-content-between align-items-center">
                            <p class="price">3500 <span>р.</span></p>
                            <button class="btn btn-primary">Приобрести</button>
                        </div>
                    </div>
                </div>
                <div class="c-card">
                    <img src="assets/img/catalog/segways/3.jpg" alt="card-image">
                    <div class="card-body">
                        <h4 class="text-upper text-center" style="color: #3d67b0">
                            xiaomi Migia Electric e307 black
                        </h4>
                        <p class="type">
                            <span>Вид:</span>
                            "электросамокат"
                        </p>
                        <div class="price-container d-flex justify-content-between align-items-center">
                            <p class="price">1000 <span>р.</span></p>
                            <button class="btn btn-primary">Приобрести</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="panel" id="useful-info">
        <h1 class="section-title text-upper">Полезная информация</h1>
        <div class="d-flex justify-content-center align-items-center flex-column u-content">
            <div class="content w-75 d-flex" style="height: 70vh">
                <div class="item d-flex justify-content-between align-items-center">
                    <img src="assets/img/useful_info/1.jpg" alt="image" class="item-img">
                    <div class="p-5">
                        <div class="d-flex justify-content-start">
                            <div class="d-flex flex-column align-items-center">
                                <img src="assets/img/fire.png" alt="fire-icon">
                                <p class="text-upper mt-5">new</p>
                            </div>
                        </div>
                        <h1 class="title text-upper">Как выбрать перед покупкой</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Quod enim amet autem exercitationem iste, maiores magnam odio nihil dignissimos et
                            voluptatem.
                            Vel repellendus maiores eum porro iure impedit nobis beatae?</p>
                    </div>

                </div>
            </div>
            <div class="content w-75 d-flex" style="height: 70vh">
                <div class="item d-flex justify-content-between align-items-center">
                    <img src="assets/img/useful_info/2.jpg" alt="image" class="item-img">
                    <div class="p-5">
                        <div class="d-flex justify-content-start">
                            <div class="d-flex flex-column align-items-center">
                                <img src="assets/img/fire.png" alt="fire-icon">
                                <p class="text-upper mt-5">new</p>
                            </div>
                        </div>
                        <h1 class="title text-upper">Электросамокат. Как выбрать перед покупкой</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Quod enim amet autem exercitationem iste, maiores magnam odio nihil dignissimos et
                            voluptatem.
                            Vel repellendus maiores eum porro iure impedit nobis beatae?</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="panel" id="sub">
        <div class="conteiner h-100 d-flex justify-content-center align-items-center flex-column">
            <h1 class="section-title text-upper" style="color: #fff">Подписка на рассылку</h1>
            <form class="w-50 mt-5 d-flex flex-column align-items-center">
                <input type="text" class="form-control" placeholder="ФИО">
                <input type="email" class="form-control mt-3" placeholder="email">
                <button class="btn btn-white-big text-upper mt-5">Подписаться</button>
            </form>
        </div>
    </section>
    <footer class="panel">
        <div class="h-100 d-flex justify-content-between align-items-center" style="width: 80vw; margin: 0 auto;">
            <div class="footer-logo"><img src="assets/img/logo-blue.png" alt="logo"></div>
            <div class="h-100 d-flex align-items-end">
                <ul class="nav">
                    <li class="text-upper"><a href="#advantages">О нас</a></li>
                    <li class="text-upper"><a href="#catalog">Каталог</a></li>
                    <li class="text-upper"><a href="#consultants">Консультанты</a></li>
                </ul>
            </div>
            <div class="d-flex justify-content-evenly flex-column h-100">
                <div class="contact">
                    <div class="item d-flex justify-content-start align-items-center mb-2">
                        <img src="assets/img/address-blue.png" alt="addres">
                        <p class="text-upper">москва, набережная 2 оф.149</p>
                    </div>
                    <div class="item d-flex justify-content-start align-items-center">
                        <img src="assets/img/phone-blue.png" alt="phone">
                        <p class="text-upper">+7 (923) 111-18-41</p>
                    </div>
                </div>
                <div class="social mt-1">
                    <p>Мы в соц. сетях:</p>
                    <div class="social-icons">
                        <img src="assets/img/social_icons/vk.png" alt="vk">
                        <img src="assets/img/social_icons/instagram.png" alt="instagram">
                        <img src="assets/img/social_icons/youtube.png" alt="youtube">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#first-page" class="btn btn-primary btn-up">
        <img src="assets/img/go_up.png" alt="go up">
    </a>
</body>
</html>